
body {
  font-family: "Fira Sans";
  background-image: linear-gradient(180deg, #f6d365 0%, #fda085 100%);
  padding: 20px;
  margin: 0;
}

h1, h2, h3, p, ul, li, .card-body>h5 {
font-family: "Open Sans", sans-serif;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #CC6633;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
h2 {
  color: #CC9966;
}



.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}
  
.site-footer {
  background-image: linear-gradient(#f6d365 0%, #fda085 100%);
  padding: 20px 0;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  color: white;
}

.jumbotron h2 {
  color: #CC6633;
}

.navbar-dark {
  background-color: #fda085;
}



